.App {
  text-align: center;
}

.App-header {
  background-color: #F9F9F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #282c34;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 42px;
  padding: 16px;
  font-weight: bold;
  width: 465px;
  border: 1px solid #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.Movie-title {
  height: 100px;
  line-height: 100px;
  font-weight: bold;
}

.Movie-date {
  font-style: italic;
  margin-top: 26px;
}

.Movie-rate {
  color: #FF1E00;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}